h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

header h1 {
    background-color: darkslategrey;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 30px;
}

.low {
    background-color:lightgreen;
    padding: 2px;
}

.med {
    background-color: yellow;
    padding: 2px;
}

.high {
    background-color: tomato;
    padding: 2px;
}

.hide {
    visibility: hidden;
}

.five-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color:lightskyblue;
    margin: 5px;
}

.main-container {
    padding: 20px;
}

.five-forecast, .five-header {
    display: flex;
    padding: 20px;
}